#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 95px ;
    background: #e9ecedb2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar a {
    padding: 5px 12px;
    color: rgba(176, 159, 159, 0.644);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}
#navbar a:hover {
    color: #dee7eb;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #383636c8;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.btn{
    padding:8px 12px;
    background: rgb(0, 0, 0);
    color: #e4e5ea;
    border-radius: 5rem;
}
.col-6{
    background: #e9ecedb2;
    padding: 50px;
}